* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --white: #fff;
    --dark: #171719;/*off*/
    --gray: #454545;
    --gray-light: #c5c7c7; /*antes: #757561*/
    --gray-dark: #313131;
    --primary: rgba(30,213,169);/*off*/
    --alert: #f9be42;/*off*/

    --font-weight-title: 700;
    --font-weight-text: 400;
    --font-weight-icons-semibold: 300; /* font-weight-icons-default: 200 */

    --border-radius: 18px;
    --border-radius-lit: 14px;
}

html {
    font-size: 62.5%;
    font-family: 'Monserrat', sans-serif;
    font-weight: var(--font-weight-text);
    background-color: var(--alert);
}

body {
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--dark);
}

a {
    color: var(--primary);
}

.material-symbols-outlined {
    vertical-align: middle;
    color: var(--white);
    font-size: 2.8rem;
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined--semibold {
    font-weight: var(--font-weight-icons-semibold);
}

.material-symbols-outlined--primary {
    color: var(--primary);
}

/* Shared */

/* Header */
.header {
    width: 100%;
    height: auto;
    padding: 10px;
}

.header--detailView {
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-bottom: 12px;
    font-size: 2rem;
    color: var(--white);
    text-decoration: none;
}

.logo--text {
    margin-left: .3rem;
}

.header__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(2, 2, 2, 0.5);
    cursor: pointer;
}

.header__arrow:hover {
    background-color: var(--gray-dark);
}

.header__icon {
    width: 40px;
    height: 40px;
}

.header__icon--user {
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 12px;
}

.header__searchForm {
    order: 1;
    flex: 1 0 100%;
}

.search__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.search__input {
    width: 100%;
    height: 40px;
    padding: 0px 45px;
    font-size: 2rem;
    border: 0;
    border-radius: var(--border-radius);
    color: var(--white);
    background-color: var(--gray-dark);
}

.search__input:focus-visible {
    outline: 1px solid var(--primary); 
}

.search-icon {
    position: absolute;
    left: 10px;
}

.search__btn {
    position: absolute;
    right: 0;
    width: 50px;
    height: 40px;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    color: var(--gray);
    border: 0;
    background-color: var(--gray-dark);
    cursor: pointer
}

.search__btn:hover {
    background-color: var(--gray);
}


/* Hero section */
/* slider */
.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slides-container {
    display: flex;
    width: 100%;
    height: inherit;
    list-style: none;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
}

.slides-container { /* Esconde barra de scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
 
/* WebKit */
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slide {
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
    flex: 1 0 100%; /* Tres valores: flex-grow | flex-shrink | flex-basis */
    cursor: pointer;
}

.slide-arrow {
    position: absolute;
    display: flex;
    place-items: center;
    top: 0;
    bottom: 0;
    width: 3rem;
    height: 4rem;
    margin: auto;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    background-color: var(--gray-dark);
    z-index: 1;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    /*padding-left: .75rem;*/
    border-radius: 2rem 0 0 2rem;
}

.hero {
    position: relative;
    width: 100%;
    height: 40vh;
}

.hero--detailView {
    height: 60vh;
}

.hero__img {
    position: absolute;
    width: 100%;
    height: inherit;
    /*background: url(https://www.themoviedb.org/t/p/original/1DBDwevWS8OhiT3wqqlW7KGPd6m.jpg);
    */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: inherit;
    height: inherit;
    /*padding: 0px 10px;*/
    background: rgb(23,23,25);
    background: linear-gradient(0deg, rgba(23,23,25,1) 0%, rgba(23,23,25,0.19121151878720233) 40%, rgba(23,23,25,0) 53%, rgba(23,23,25,0.13799023027179624) 75%, rgba(23,23,25,1) 100%);
}

.slide__img {
    position: absolute;
    width: 100%;
    height: inherit;
    /*background: url(https://www.themoviedb.org/t/p/original/1DBDwevWS8OhiT3wqqlW7KGPd6m.jpg);
    */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: inherit;
    height: inherit;
    padding: 0px 40px;
    background: rgb(23,23,25);
    background: linear-gradient(0deg, rgba(23,23,25,1) 0%, rgba(23,23,25,0.19121151878720233) 40%, rgba(23,23,25,0) 53%, rgba(23,23,25,0.13799023027179624) 75%, rgba(23,23,25,1) 100%);
}

.hero__tag {
    min-width: 100px;
    height: 25px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.5rem;
    border: 0;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--dark);
}

.hero__content--detailView {
    align-items: center;
}

.hero__title {
    width: 100%;
    font-size: 3rem;
    font-weight: var(--font-weight-title);
}

.hero__title--detail {
    text-align: center;
}

.hero__title--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.hero__description {
    width: 90%;
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 1.8rem;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--gray-light);
}

.hero__btn {
    width: 30%;
    height: 30px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: var(--white);
    border: 0;
    border-radius: var(--border-radius-lit);
    background-color: var(--primary);
}

.hero__tags {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.hero__tag-separator{
    margin: 0 5px;
}

.hero__data {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 12px;
    margin-bottom: 5px;
    text-align: center;
    color: var(--gray-light);
}


/* Sections */
.section {
    margin-bottom: 14px;
}

.section__container {
    padding: 0 10px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 12px;
}

.section--list-container {
    min-height: calc(100dvh - 60px - 40px - 1.6rem - 18.56px);
    padding-top: 60px;
}

.section--list-search-container {
    padding-top: 100px;
}

.section__title {
    font-weight: 500;
}

.section__arrow {
    width: 4rem;
    height: 4rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.section__arrow:hover {
    border-radius: var(--border-radius-lit);
    background-color: var(--gray-dark);
}

.section__text {
    margin: 0 auto;
    max-width: 70ch;
    font-size: 1.8rem;
}

/* Carousel */
.section__carousel {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 100%;
    /*height: 255px;*/
    padding-bottom: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section__carousel::-webkit-scrollbar {
    height: .8em;
}

.section__carousel::-webkit-scrollbar-track {
    margin: 0 1rem;
    border-radius: var(--border-radius);
    background-color: rgb(66, 66, 66);
}

.section__carousel::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: rgb(123, 123, 123);
}

.carousel__item {
    scroll-snap-align: center;
    
    height: inherit;
    list-style: none;
}

/* Grid */
.section__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 10px 2px;
    padding: 0 5px;
}

/* Elements */
.movie__img-container {
    width: 140px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 6px;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    transition: .1s ease border;
    overflow: hidden;
    cursor: pointer;
}

.movie__img-container:hover,
.category:hover {
    border: 1px solid var(--primary);
}

.movie__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie__more-detail, .movie__title {
    margin: 0 5px;
}

.movie__title {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie__overview {
    color: var(--gray-light);
}

.movie__more-detail {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 5px;
    color: var(--gray-light);
}

.movie__score-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
}

.icon-score {
    text-align: end;
    color: var(--primary);
    font-variation-settings:
    'FILL' 1;
}

.movie__score {
    padding-left: 5px;
}

.movie__categories {
    justify-content: space-between;
    max-width: max-content;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    min-width: 50px;
    height: 40px;
    line-height: 3rem;
    padding: 0px 6px;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--gray-light);
    border: 1px solid var(--gray);
    border-radius: var(--border-radius-lit);
    background-color: var(--gray-dark);
    cursor: pointer;
}

.movie__categories .category {
    width: max-content;
    min-width: 50px;
    height: 40px;
}

.cast__img-container {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    overflow: hidden;
    border-radius: 100%;
}

.cast__name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cast__name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cast__character {
    width: 100%;
    margin-top: 2px;
    font-size: 1.6rem;
    color: var(--gray-light);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* Footer */
.footer__author {
    margin: 0 auto;
    padding: 20px 50px;
    padding-bottom: 80px;
    text-align: center;
    font-size: 1.6rem;
    background-color: var(--dark);
}

.footer {
    background-color: var(--primary);
}

.navbar__container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    background: rgb(23,23,25);
    background: linear-gradient(0deg, rgba(23,23,25,1) 0%, rgba(23,23,25,0) 100%);
}

.navbar {
    width: 92%;
    height: 50px;
    margin-left: calc(50% - 46%);
    border-radius: var(--border-radius);
    background-color: var(--primary);
}

.navbar__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
    list-style: none;
}

.navbar__list li {
    height: auto;
}

.navbar__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white);
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.navbar__item:hover .item__text{
    text-decoration: underline;
}

/* Navigation */
.inactive {
    display: none;
}

/* Skeleton */
.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 7%, 30%); /* 80% */
    }
    100% {
        background-color: hsl(200, 7%, 45%); /* 95% */
    }
}

.skeleton__head-line {
    width: 70%;
    height: 1.6rem;
    margin-bottom: 0.8rem;
    border-radius: 0.8rem;
}

.skeleton__head-line--detailView {
    margin-left: auto;
    margin-right: auto;
}

.skeleton__head-line--short {
    width: 30%;
}

.skeleton__text {
    width: 100%;
    height: 1.4rem;
    margin-bottom: 0.5rem;
    border-radius: 0.8rem;
}

.skeleton__category {
    width: 112px;
    height: 4rem;
    border-radius: var(--border-radius-lit);
}

.skeleton__icon {
    width: 24px;
    height: 24px;
    border-radius: 99rem;
}

.skeleton__tag {
    height: 2.5rem;
    border-radius: 4px;
}

img[alt] {
    text-indent: -10000px;
}

@media (min-width: 768px) {
    .header {
        padding: 10px 3rem;
    }
    .hero {
        height: 60vh;
    }
    .category {
        min-width: 13.6rem;
        height: 8.6rem;
    }
    .slide-arrow {
        width: 4rem;
    }
    #slide-arrow-prev {
        margin-left: 1rem;
        padding-left: 0.4rem;
        border-radius: var(--border-radius-lit);
    }
    #slide-arrow-next {
        margin-right: 1rem;
        padding-left: 0.7rem;
        border-radius: var(--border-radius-lit);
    }
    .slide__content {
        padding: 0 60px;
    }
    .hero__description {
        width: 80%;
        margin-bottom: 40px;
        -webkit-line-clamp: 3;
    }
    .section--categories,
    .section--cast,
    .section--relateds {
        margin-top: 36px;
    }
    .section__header,
    .hero__content--detailView,
    .section__container {
        padding: 0 3rem;
    }
    .section--list-container {
        min-height: calc(100dvh - 40px - 1.6rem - 16.56px);
    }
    .section__carousel::-webkit-scrollbar-track {
        margin: 0 3rem;
    }
    .section__carousel {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media (min-width: 1024px) {
    body,
    .category {
        font-size: 1.9rem;
    }
    .hero__tag,
    .footer__author,
    .cast__character {
        font-size: 1.7rem;
    }
    .header {
        position: fixed;
        top: 0;
        z-index: 2;
        padding: 10px 5rem;
        animation: toDark linear both;
        animation-timeline: scroll();
        animation-range: 0 32vh; 
    }
    @keyframes toDark {
        to {
            background-color: var(--dark);
        }
    }
    .header__arrow,
    .header__logo {
        margin-right: auto;
    }
    .header__logo, 
    .header__icon--user {
        margin-bottom: 0;
    }
    .header__searchForm {
        order: 0;
        flex: 0 0 auto;
        margin: 0 auto;
    }
    
    .search__input {
        border: 1px solid rgba(210, 210, 210, 0.5);
        background-color: transparent;
    }
    .search__input::placeholder {
        color: rgb(210, 210, 210);
    }
    .search__btn {
        background-color: transparent;
    }
    .search__input:hover {
        border: 1px solid var(--primary);
    }
    .search__btn:hover ~ .search__input {
        border: 1px solid var(--primary);
    }
    .navbar__container {
        position: relative;
        width: auto; /* calc(100% - 176px);*/
        margin-right: 1.3rem;
        padding-bottom: 0px;
        background: transparent;
        order: 1;
    }
    .navbar {
        width: 100%;
        height: 40px;
        margin-left: 0;
        background-color: transparent;
    }
    .navbar__list {
        justify-content: end;
        gap: 12px;
    }
    .navbar__item {
        flex-direction: row;
        font-size: 2rem;
        color: #f1f1f1;
    }
    .navbar__item:hover .item__text{
        text-decoration: none;
    }
    .navbar__item:hover .item__text::before {
        content: "";
        position: absolute;
        width: 65%;
        height: 1px;
        background-color: var(--primary);
        bottom: 3px;
        right: 0;
    }
    .header__icon {
        order: 1;
    }
    .hero {
        height: 80vh;
    }
    .hero__title {
        font-size: 3.2rem;
    }
    .hero__description {
        width: 70%;
        font-size: 1.9rem;
    }
    .section__header,
    .hero__content--detailView,
    .section__container {
        padding: 0 5rem;
    }
    .section__carousel {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .section__carousel::-webkit-scrollbar-track {
        margin: 0 5rem;
    }
    .movie__img-container {
        width: 182px;
        height: 260px;
    }
    .cast__img-container {
        width: 110px;
        height: 110px;
    }
    .footer__author {
        padding-bottom: 20px;
    }
}