* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --white: #fff;
    --dark: #171719;/*off*/
    --gray: #454545;
    --gray-light: #757561;
    --gray-dark: #313131;
    --primary: rgba(30,213,169);/*off*/
    --alert: #f9be42;/*off*/

    --font-weight-title: 700;
    --font-weight-text: 400;
    --font-weight-icons-semibold: 300; /* font-weight-icons-default: 200 */

    --border-radius: 18px;
    --border-radius-lit: 14px;
}

html {
    font-size: 62.5%;
    font-family: 'Monserrat', sans-serif;
    font-weight: var(--font-weight-text);
    background-color: var(--alert);
}

body {
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--dark);
}

a {
    text-decoration: none;
    color: var(--primary);
}

.material-symbols-outlined {
    vertical-align: middle;
    font-weight: 200;
    color: var(--white);
}

.material-symbols-outlined--semibold {
    font-weight: var(--font-weight-icons-semibold);
}

.material-symbols-outlined--primary {
    color: var(--primary);
}

/* Shared */

/* Header */
.header {
    width: 100%;
    height: auto;
    padding: 10px;
}

.header--detailView {
    position: fixed;
    top: 0;
    z-index: 1;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: var(--white);
}

.header__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(2, 2, 2, 0.5);
}

.header__icon {
    width: 30px;
    height: 30px;
}

.header__icon--user {
    border-radius: 100%;
    overflow: hidden;
}

.header__searchForm {
    display: flex;
    order: 1;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.search__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3px 8px;
    background-color: var(--gray-dark);
    border: 1px solid var(--gray);
    border-radius: var(--border-radius-lit);
}

.search__input {
    width: 100%;
    margin: 0 5px;
    font-size: 1.6rem;
    border: 0;
    background-color: var(--gray-dark);
}

.search__btn {
    color: var(--white);
    border: 0;
    background-color: var(--gray-dark);
}


/* Hero section */
/* slider */
.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slides-container {
    display: flex;
    width: 100%;
    height: inherit;
    list-style: none;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x proximity;
}

.slides-container { /* Esconde barra de scroll */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
 
/* WebKit */
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.slide {
    position: relative;
    scroll-snap-align: center;
    width: 100%;
    height: 100%;
    flex: 1 0 100%; /* Tres valores: flex-grow | flex-shrink | flex-basis */
}

.slide-arrow {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 2rem;
    height: 4rem;
    margin: auto;
    padding: 0;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
    background-color: var(--gray-dark);
    z-index: 7;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
    right: 0;
    /*padding-left: .75rem;*/
    border-radius: 2rem 0 0 2rem;
}

.hero {
    position: relative;
    width: 100%;
    height: 40vh;
}

.hero--detailView {
    height: 60vh;
}

.hero__img {
    position: absolute;
    width: 100%;
    height: inherit;
    background: url(https://www.themoviedb.org/t/p/original/1DBDwevWS8OhiT3wqqlW7KGPd6m.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: inherit;
    height: inherit;
    padding: 0px 10px;
    background: rgb(23,23,25);
    background: linear-gradient(0deg, rgba(23,23,25,1) 0%, rgba(23,23,25,0.19121151878720233) 40%, rgba(23,23,25,0) 53%, rgba(23,23,25,0.13799023027179624) 75%, rgba(23,23,25,1) 100%);
}

.slide__img {
    position: absolute;
    width: 100%;
    height: inherit;
    background: url(https://www.themoviedb.org/t/p/original/1DBDwevWS8OhiT3wqqlW7KGPd6m.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: inherit;
    height: inherit;
    padding: 0px 10px;
    background: rgb(23,23,25);
    background: linear-gradient(0deg, rgba(23,23,25,1) 0%, rgba(23,23,25,0.19121151878720233) 40%, rgba(23,23,25,0) 53%, rgba(23,23,25,0.13799023027179624) 75%, rgba(23,23,25,1) 100%);
}

.hero__content--detailView {
    align-items: center;
}

.hero__title {
    font-size: 3rem;
    font-weight: var(--font-weight-title);
}

.hero__title--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.hero__description {
    width: 90%;
    margin-bottom: 10px;
    font-size: 1.4rem;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--white);
}

.hero__btn {
    width: 30%;
    height: 30px;
    margin-bottom: 5px;
    font-size: 1.4rem;
    color: var(--white);
    border: 0;
    border-radius: var(--border-radius-lit);
    background-color: var(--primary);
}

.hero__tags {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}

.hero__tag-separator{
    margin: 0 5px;
}

.hero__data {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 50%;
    margin: 0 auto;
    font-size: 1.6rem;
    color: var(--white);
}


/* Sections */
.section {
    margin-bottom: 14px;
}

.section__container {
    padding: 0 10px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 8px;
}

.section--list-container {
    padding-top: 60px;
}

.section--list-search-container {
    padding-top: 100px;
}

.section__title {
    font-weight: 500;
}

.section__arrow {
    border: 0;
    background-color: transparent;
}

.section__text {
    font-size: 1.4rem;
}

/* Carousel */
.section__carousel {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    height: auto;
}

.carousel__item {
    scroll-snap-align: center;
    
    height: inherit;
    margin: 0 5px;
    list-style: none;
}

/* Grid */
.section__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 10px 2px;
    padding: 0 5px;
}

/* Elements */
.movie__img-container {
    width: 140px;
    height: 200px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.movie__img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie__more-detail, .movie__title {
    padding: 0 5px;
}

.movie__title {
    font-weight: var(--font-weight-title);

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.movie__more-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.hero__runtime::after {
    content: 'm';
}

.movie__score {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.movie__categories {
    display: flex;
    justify-content: space-between;
}

.category {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 3px 8px;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    color: var(--gray-light);
    border: 1px solid var(--gray);
    border-radius: var(--border-radius-lit);
    background-color: var(--gray-dark);
}

.cast__img-container {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: var(--border-radius);
    overflow: hidden;
    border-radius: 100%;
}

.cast__name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cast__character {
    font-size: 1.6rem;
    color: var(--gray-light);
}

/* Footer */
.footer__author {
    display: inline-block;
    margin-bottom: 60px;
    padding: 20px 50px;
    text-align: center;
    font-size: 1.6rem;
    background-color: var(--dark);
}

.footer {
    background-color: var(--primary);
}

.navbar__container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    background: rgb(23,23,25);
    background: linear-gradient(0deg, rgba(23,23,25,1) 0%, rgba(23,23,25,0) 100%);
}

.navbar {
    width: 92%;
    height: 50px;
    margin-left: calc(50% - 46%);
    border-radius: var(--border-radius-lit);
    background-color: var(--primary);
}

.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    margin: 0 10px;
    padding: 20px;
    list-style: none;
}

.navbar__list li {
    height: auto;
}

.navbar__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white);
    border: 0;
    background-color: transparent;
}

/* Navigation */
.inactive {
    display: none;
}